body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.122);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(189, 189, 189, 0.104);
    animation: fadeIn 1.2s ease-in-out;
    backdrop-filter: blur(10px);
}

.container:hover {
    background: rgba(255, 255, 255, 0.089);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.159);
    font-size: 16px;
    transition-duration: .2s;
}

h1 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-shadow: 2px 2px #7e7f82c0;
}

textarea {
    width: 80%;
    height: 100px;
    margin-bottom: 15px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.59);
    resize: none;
}

textarea:focus {
    outline: none !important;
    border-color: #7e7af2;
    box-shadow: 0 0 10px #adcdf0;
}

select {
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    font-size: 16px;
}

select:focus {
    outline: none !important;
    border-color: #7e7af2;
    box-shadow: 0 0 10px #adcdf0;
}

button {
    background-color: #4f6dee;
    color: rgb(245, 238, 238);
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s;
    text-transform: uppercase;
    margin-top: 10px;
}

button:hover {
    background-color: #0e0ed5;
}

.results {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
