<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        async function analyzeSentiment() {
            const text = document.getElementById('inputText').value;
            const displayLanguage = document.getElementById('languageSelect').value;

            if (!text) {
                alert("Please enter some text.");
                return;
            }

            const response = await fetch('/analyze', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ text: text, display_language: displayLanguage }),
            });

            const result = await response.json();

            if (result.error) {
                alert(result.error);
                return;
            }

            document.getElementById('resultSentiment').innerText = `Sentiment: ${result.sentiment}`;
            document.getElementById('resultEmoji').innerText = `Emoji: ${result.emoji}`;
            if (result.translated_text !== null) {
                document.getElementById('resultTranslation').innerText = `Translated Text: ${result.translated_text}`;
            } else {
                document.getElementById('resultTranslation').innerText = '';
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis System</h1>
        <textarea id="inputText" placeholder="Enter your text here..." title="Enter your data here"></textarea>
        <select title="Select your languagae" id="languageSelect">
            <option value="en">English</option>
            <option value="ta">Tamil</option>
            <option value="es">Telugu</option>
            <option value="fr">Hindi</option>
            <option value="fr">Malayalam</option>
            <option value="fr">Spanish</option>
            <option value="fr">French</option>
            <option value="fr">German</option>
        </select>
        <button title ="Analyze" onclick="analyzeSentiment()">Analyze</button>
        <div class="results">
            <p id="resultSentiment"></p>
            <p id="resultEmoji"></p>
            <p id="resultTranslation"></p>
        </div>
    </div>
</body>
</html>
